*{
	margin: 0;
	padding: 0;
}
html {
min-width: 1040px;
}
 
body {
	color: white;
	font-family: Atrament;
	position: relative;
	width: 1600px;
}

#pitch_div{
    width: 1600px;
    height: 900px;
    background-color: #185751;
    position: relative;
    left: 0;
}

#pitch{
	position: relative;
	left: 100px;
	top: 60px;
}

#timevis{
	position: relative;
	left: 150px;
	top: 50px;
}

#pitch-team-selector{
    position: relative;
    left: 400px;
    top: 40px;
}
#pitch, #timevis{
	float: left;
}
#playerInfo{
	clear: both;
	position: relative;
	left: 800px;
	top: -440px;
	width: 280px;
	height: 300px;
}
.playerInfoWrapper h2{
	font-size: 2.5em;
	overflow: hidden;
  	text-overflow: ellipsis;
  	resize: horizontal;
  
}
#nameCard{
	position: relative;
    top: -290px;
    text-align: center;
}
#playerInfo ul{
	list-style-type: none;
	text-align: left;
	position: relative;
	top: 35px;
	left: 30px
}
#playerInfo li{
	font-size: 25px;
}
li .importantInfo{
	font-weight: 200;
}

#pLegends{
	clear: both;
	position: relative;
	left: 640px;
	top: -20px;
	width: 200px;
}
#mask rect{
	fill: none;
	pointer-events: all;
}

#tutorial3{
	width: 1600px;
	height: 800px;
	position: relative;
	top: -1250px;

}
.playerInfoWrapper{
	height: 300px;
}
#tutorial3 text{
	font-size: 13px;
	font-family: Futura;

}