
header{
	background-color: #163329;
	height: 150px;
}
header h1 {
	font-size: 74px;
	font-weight: 300;
	letter-spacing: -2px;
	text-rendering: optimizeLegibility;
	position: relative;
	top: 30px;
	text-align: center;
}

body > p {
	width: 720px;
}

#main{
	background-color: #163329;
}
 
svg {
	font: 15px Atrament;
}

svg text{
	fill: white;
}
#circle circle {
    fill: none;
    pointer-events: all;
}
     
.group path {
    fill-opacity: .8;
}
     
path.chord {
    stroke: #000;
    stroke-width: .25px;
}
     
#circle:hover path.fade {
    display: none;

 }
.titles text{
	fill: white;
}

.cLegend{
	font: 14px Futura;
}

.tutorial, .tutorial2{
	font: 18px Futura
}
#tutorial2 line{
	opacity: 0.2;
	stroke: white;
	stroke-width: 3px;
}
