*{
	font-family: Atrament
}
.column{
	float: left;
}
#header, #main{
	position: relative;
	left: 50px;
}

#header{
	top: 220px;
	left: 400px;
	height: 200px;
	color: white;
}
#wrapper {
	width: 1720px;
	height: 1260px;
	position: relative;
	left: -100px;
	top: -50px;
	background: #072e36;
}

#soccerField{
	position: relative;
	left: 100px;
	top: 100px;
	margin-top: 50px;
	width: 600px;
	height: 980px;
	background: #1f6e66;
}


#innerField{
	position: relative;
	top: 3%;
	left: 4.8%;
	width: 90%;
	height: 90%;
	background: linear-gradient(
	  to bottom,
	  #1f6e66,
	  #1f6e66 50%,
	  #137d5a 50%,
	  #137d5a
	);
	background-size: 100% 95px;
}

#innerField rect, circle, path{
	fill-opacity: 0;
	stroke: white;
	stroke-width: 2px;
}

#innerField line{
	stroke: white;
	stroke-width: 2px;
}

.dots {
	fill: white;
	fill-opacity: 1;
}
#team_a{
	position: relative;
	left: 3%;
	width: 450px;
	height: 450px;
	text-align: center;
	font-size: 30px;
	color: #85d8e9;
}

#team_a h3{
	position: relative;
	margin-top: 0;
}
#team_a path{
	stroke: #85d8e9;
	stroke-width: 1px;
	fill-opacity: 0;
}

#team_b{
	position: relative;
	left: 3%;
	margin-top: 15%;
	width: 450px;
	height: 450px;
	text-align: center;
	font-size: 30px;
	color: #e2e2b7;
}

#team_b h3{
	position: relative;
	margin-top: 0;
}
#team_b path{
	stroke: #e2e2b7;
	stroke-width: 1px;
	fill-opacity: 0;
}

svg text{
	font-size: 15px
}